body {
	background-color: darksalmon;
}

.CodeMirror {
	margin-top: 5;
	width: 100%;
}

.bots {
	width: 100%;
	border: 1px dotted black;
	font-size: 17px;
	text-align: center;
}

.play {
    background-color: #6b6b6b;
	float: none;
	transition-duration: 0.5s;
	cursor: pointer;
}

.play:hover {
    background-color: teal;
    color: white;
}

.column {
    float: left;
	width: 50%;
}

#submit {
	margin-left: 100%;
	align-self: center;
	cursor: pointer;
}

#game {
    background-color: blue;
	margin-top: 30px;
	margin-left: 5px;
	width: 100%;
	height: 650px;  /* Needs to be percentage (Also CodeMirror height) */
	align-self: center;
	display: block;
}

.chessboard {
	width: 640px;
	height: 640px;
	margin-left: 50px;
	margin-top: 28px;
	border: 3px solid #333;
	border-spacing: 0;
	table-layout: fixed;
}

.row {
	height: 12.5%;
	width: 100%;
}

.black {
	float: left;
	width: 12.5%;
	height: 100%;
	background-color: #999;
	text-align:center;
	display: table-cell;
	vertical-align:middle;
	border: none;
}
.white {
	float: left;
	width: 12.5%;
	height: 100%;
	background-color: #fff;
	text-align:center;
	display: table-cell;
	vertical-align:middle;
	border: none;
}